<IfModule mod_rewrite.c>
    RewriteEngine On

    # If project is in http://localhost/ngocareer/
    RewriteBase /

    # Pass authorization header
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Protect index.php
    RewriteRule ^index\.php$ - [L]

    # If file or directory does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect everything to index.php
    RewriteRule . /index.php [L]
</IfModule>
