sup{
    color: red!important;
}
.profile{
    background-color: #F4F5F9; 
    padding: 10px;
}

#jobseeker_profile button{
    background-color: #ec4523;
    border-color: #ec4523;
}

.card {
    padding-top: 20px;
    /*margin: 10px 0 20px 0;*/
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .info .title {
    display: block;
    margin: 8px 0px 0 0px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card .info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .avatar img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}