body {font-family: Arial, sans-serif;height: 100%;font-size: 18px;font-weight: 300;margin: 0 auto;color: #757575; line-height: 1.6; background-color: #FFFFFF;}
h1,h2,h3,h4,h5,h6 {font-family: Arial, sans-serif;}
h1 {font-size: 35px;font-weight: 700;}
h2 {font-size: 28px;font-weight: 700;}
h3 {font-size: 23px;font-weight: 700;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
a {cursor: pointer; color: #1F8C49;}
ul {padding: 0;list-style: none;}
.pr-0 {padding-right: 0;}
.btn {font-size: 16px;}
.btn.btn-primary {
    background-color: #1F8C49;
    border-color: #1F8C49;
    color: #FFFFFF;
    padding: 10px 30px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.btn.btn-primary:hover {background-color: #333333;border-color: #333333;color: #FFFFFF}
.btn.btn-white {background-color: #F2F2F2;border-color: #F2F2F2;color: #000000;}
.no-padding {padding: 0;}
ul.tik li {margin-bottom: 5px;}
ul.tik li:before {content: '\f046';font-family: 'FontAwesome';color: #F2B90C;margin-right: 5px;}

.admin-menu {font-size: 13px;position: relative;z-index: 999;}
.admin-menu .navbar {min-height: 30px;background-color: #000000;border: 0;margin: 0;border-radius: 0;}
.admin-menu .navbar-brand {font-size: 13px;padding-top: 5px;padding-bottom: 5px;height: auto;color: #ffffff;}
.admin-menu .navbar-default .navbar-nav>li>a {padding-top: 5px;padding-bottom: 5px;color: #ffffff;}


.form-signin {width: 100%;max-width: 330px;padding: 15px;margin: 100px auto;}
.form-signin .checkbox {font-weight: 400;}
.form-signin .form-control {position: relative;box-sizing: border-box;height: auto;padding: 10px;font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="email"] {margin-bottom: 10px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.form-signin input[type="password"] {margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;}
a.js_forgot {font-size: 16px;}

#cookie_bar {background-color: rgba(0, 0, 0, 0.9);bottom: 0;position: fixed;width: 100%;z-index: 999;color: #ffffff;padding: 15px;font-size: 16px;}
#cookie_bar a {color: #ffffff;text-decoration: underline;}
#Cookie {background-color: #1F7BDD;color: #FFFFFF;cursor: pointer;padding: 5px 10px;display: inline-block;text-transform: uppercase;}